# Dependencies
node_modules/
package-lock.json

# Build outputs
dist/
build/

# Runtime data
output/
uploads/

# Logs
logs
*.log
npm-debug.log*

# Operating System Files
.DS_Store
Thumbs.db

# IDE and Editor folders
.idea/
.vscode/
*.swp
*.swo

# Environment variables
.env

# Temporary files
*.tmp
*.temp